<div class="container">
    <h1>Order processing!</h1>
    <p>
        If your payment went successful your order will be placed and you will
        receive an e-mail containing a summary of your order.
    </p>

    <br>

    <p>
        In the meantime, consider sharing your stories about your jewellery collection, <br>
        or look at other jewellery in the ReviveOR shop.
    </p>

    <br>

    <div class="buttons">
        <button mat-button class="mat-elevation-z3" routerLink="/stories">
            Share a story
        </button>

        <button mat-button class="mat-elevation-z3" routerLink="/shop">
            View ReviveOR shop
        </button>
    </div>

</div>

