.topText {
    text-align: center;
}

.story-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.shareButton {
    margin-left: 10px;
    color: white;
    background-color: #2749b6;
}

@media (max-width: 800px) {
    .story-grid {
        grid-template-columns: 1fr;
    }
}
