.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.save-button {
    float: right;
}
.user-form {
    position: relative;

    .clear-input {
        position: absolute;
        right: 5px;
        top: 0;
        cursor: pointer;
    }
}
@media (max-width: 800px) {
    .grid {
        grid-template-columns: 1fr;
    }
}