.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.buttons {
    text-align: right;
}
.user-form {
    position: relative;

    .clear-input {
        position: absolute;
        right: 5px;
        top: 0;
        cursor: pointer;
    }
}
.role-descriptions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}
.save-button {
    background-color: #2749b6;
    color: white;
}
@media (max-width: 800px) {
    .grid {
        grid-template-columns: 1fr;
    }
    .role-descriptions {
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
}
@media (max-width: 450px) {
    .role-descriptions {
        grid-template-columns: 1fr;
    }
}
