<div class="wrapper">
    <ng-container *ngIf="!horizontal">
        <div
        class="step"
        *ngFor="let step of steps; let i = index"
        [ngClass]="{'active' : currentStep >= i}">
            <div class="left">
                <div class="orb">
                    {{ i+1 }}
                </div>
                <div class="line">

                </div>
            </div>
            <div class="right">
                <div class="label">
                    {{ step }}
                </div>
                <div class="description">
                    {{ descriptions[i] }}
                </div>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="horizontal">
        <div class="stepper-container horizontal mat-elevation-z5">
            <div class="step-horizontal"
            *ngFor="let step of steps; let i = index"
            [ngClass]="{'active' : currentStep >= i}">
                {{ step }}
            </div>
        </div>
    </ng-container>

</div>