<!-- <div class="wrapper">
    <div class="trade-in-process-container">
        <div class="breadcrumbs">
            
        </div>
        <router-outlet></router-outlet>
    </div>
    <div class="stepper-container">
        <app-stepper></app-stepper>
    </div>
</div> -->
<div class="wrapper">
    <mat-card class="mat-elevation-z5">
        <div class="breadcrumbs">
            
        </div>
        <router-outlet></router-outlet>
    </mat-card>
    <div class="stepper-container">
        <app-stepper></app-stepper>
    </div>
</div>