<form (ngSubmit)="onSubmit()" class=" custom-inputs mat-elevation-z3" #form="ngForm" id="form">
    <mat-card-header>
        <mat-card-title>Login with your Ocean Republic account</mat-card-title>
    </mat-card-header>
    <div *ngIf="showWarning">
        <p style="color: red">{{warning}}</p>
    </div>
    <div class="input-wrapper">
        <mat-label>E-mail address</mat-label>
        <input type="text" [(ngModel)]="email" name="email" required ngModel [email]="true">
        <mat-label>Password</mat-label>
        <input type="password" [(ngModel)]="password" name="password" required ngModel minlength="6">
    </div>
    <div class="button-wrapper">
        <button mat-raised-button color="primary" class="mat-elevation-z3" [disabled]="!form.valid">Log in</button>
    </div>
    <a href="https://theoceanrepublic.com/password/remind" title="forgotten password?">Forgotten password? Click here.</a> <br>
    <a routerLink="/register" [preserveQueryParams]="true" title="forgotten password?">Don't have an account? Click here.</a>
</form>
