h1 {
    color: #5e646b;
    text-align: center;
}
a {
    color: #5e646b;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.input-wrapper {
    margin-top: 10px;
}
form {
    width: 100%;
    max-width: 500px;
    border-radius: 5px;
    padding: 20px;
    margin: 0px auto;
    display: block;

    input {
        font-size: 18px;
        margin-bottom: 15px;
    }
}
.button-wrapper {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;

}
