<div class="sortWrapper">
    <mat-label>Jewelry category</mat-label>
    <div class="jewelryCategoryWrapper">
            <mat-button-toggle-group multiple (change)="filterCategory($event)">
                <mat-button-toggle checked>Ring</mat-button-toggle>
                <mat-button-toggle checked>Bracelet</mat-button-toggle>
                <mat-button-toggle checked>Necklace</mat-button-toggle>
                <mat-button-toggle checked>Earrings</mat-button-toggle>
            </mat-button-toggle-group>
    </div>
    <mat-label>Material</mat-label>
    <div class="jewelryMaterialWrapper">
        <mat-button-toggle-group multiple (change)="$event">
            <mat-button-toggle checked>Gold</mat-button-toggle>
            <mat-button-toggle checked>Silver</mat-button-toggle>
            <mat-button-toggle checked>Other</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
</div>

<hr>

<div class="wrapper">
    <app-shop-item *ngFor="let product of products; let i = index"
    [product]="product"
    [index]="i">
    </app-shop-item>
</div>


