.wrapper {
    width: 100%;
    float: none;
    text-align: center;
    justify-content: center;
}

.optionWrapper {
    > *:not(.label) {
        display: inline-block;
    }
}
ng5-slider {
    margin: 0px 20px 0px 20px;
    width: 200px;
}

.sortWrapper {
    width: 120px;
}
