.shop-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 20px 0px;
}

.shop-grid > * {
    --aspect-ratio: 1/1;
}

.option-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;

    > * h3 {
        margin-bottom: 8px;
    }
}
.category-filters {
    > * {
        display: block;
    }
}

ng5-slider {
    width: 100%;
}

::ng-deep {
    .custom-slider .ng5-slider .ng5-slider-bar {
        background: #ffe4d1;
        height: 2px;
    }
    .custom-slider .ng5-slider .ng5-slider-selection {
        background: darkblue;
    }

    .custom-slider .ng5-slider .ng5-slider-pointer {
        width: 8px;
        height: 16px;
        top: auto; /* to remove the default positioning */
        bottom: 0;
        background-color: #333;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .custom-slider .ng5-slider .ng5-slider-pointer:after {
        display: none;
    }

    .custom-slider .ng5-slider .ng5-slider-bubble {
        bottom: 14px;
    }

    .custom-slider .ng5-slider .ng5-slider-limit {
        font-weight: bold;
        color: darkblue;
    }

    .custom-slider .ng5-slider .ng5-slider-tick {
        width: 1px;
        height: 10px;
        margin-left: 4px;
        border-radius: 0;
        background: #ffe4d1;
        top: -1px;
    }

    .custom-slider .ng5-slider .ng5-slider-tick.ng5-slider-selected {
        background: darkblue;
    }
}
.emptyShop{
    text-align: center;
}

@media (max-width: 1000px) {
    .shop-grid {
        grid-template-columns: 1fr 1fr !important;
    }
}
@media (max-widtH: 700px) {
    .option-wrapper {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width: 600px) {
    .shop-grid {
        grid-template-columns: 1fr !important;
    }
}
@media (max-width: 400px) {
    .option-wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

