
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;

    & + label {
        font-size: 1.25em;
        font-weight: 700;
        color: white;
        display: inline-block;
        cursor: pointer;
    }

    &:focus + label {
        outline: -webkit-focus-ring-color auto 5px;
    }

    & + label * {
        pointer-events: none;
    }
}
