<h3>Each piece of jewellery has a unique story, share yours!</h3>

<form class="form-wrapper">

    <div>
        <div class="story-wrapper">
            <span>Your story's title (optional)</span>
            <mat-form-field>
                <input matInput placeholder=""
                       [(ngModel)]="tradeInProcessService.tradeInProcessContainer.storyTitle"
                       name="storyTitle">
            </mat-form-field>

            <span>Your story (optional)</span>
            <mat-form-field>
            <textarea matInput matTextareaAutosize matAutosizeMinRows=5 placeholder=""
                      [(ngModel)]="tradeInProcessService.tradeInProcessContainer.storyContent"
                      name="storyContent"></textarea>
            </mat-form-field>
        </div>

        <span>Any questions or notes regarding this trade-in request? If not, leave this field blank.</span>
        <mat-form-field>
            <textarea matInput
                      placeholder="Perhaps a description of special damages to the jewellery piece."
                      [(ngModel)]="tradeInProcessService.tradeInProcessContainer.additionalNotes"
                      name="additionalNotes"></textarea>
        </mat-form-field>
    </div>

    <div>
        <h4>Upload two detailed images of your jewellery
            <mat-icon matTooltipPosition="right"
                      matTooltip="These images will help make sure that we can give you a more accurate credit indication for your jewellery.">
                help_outline
            </mat-icon>
        </h4>

        <app-mass-file-uploader *ngIf="images.length < requiredAmountOfImages"
            maxFiles=2
            [allowedExtensions]="allowedImageExtensions"
            [httpUrl]="imageAPIUrl"
            (fileUploaded)="onImageUploaded($event)"
            (fileUploadError)="onImageUploadError($event)">
        </app-mass-file-uploader>

        <div class="images-wrapper">
            <div class="label">Your images</div>
            <div class="imageCollectionWrapper">
                <div class="imageDiv" *ngFor="let image of images">
                    <img [src]="image.url" alt="">
                </div>
            </div>
        </div>
    </div>

</form>

<app-control-buttons (nextClicked)="onNextClicked()" (backClicked)="onBackClicked()"></app-control-buttons>
