.mat-card {
    margin-bottom: 30px;
}

.product-description {
    color: inherit;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.product-image {
    width: 100%;
    min-width: 100px;
}

@media (max-width: 720px) {
    .shopping-cart-alignment-wrapper {
        grid-gap: 0px;
        grid-template-columns: 1fr;
    }
}
