<div class="shopping-cart-alignment-wrapper vertical-align">
    <div class="product-image">
        <a class="product-description" [routerLink]="['/shop', 'product', cartItem.product.id]">
            <img src="{{cartItem.product.images[0].url}}" alt="Product">
        </a>
    </div>

    <a class="product-description" [routerLink]="['/shop', 'product', cartItem.product.id]">
        <p>Item: {{ cartItem.product.name }}</p>
        <p>ID: #{{ cartItem.product.id }}</p>
        <div class="product-rating">
            <span>Condition:</span>
            <star-rating [readOnly]="true" starType="icon" staticColor="negative" [rating]="cartItem.product.rating.id"></star-rating>
        </div>
    </a>

    <div>
        <p>{{ (cartItem.product.price * cartItem.quantity) | currency: '€' }}</p>
    </div>

    <div>
        <button mat-raised-button color="primary" (click)="onRemoveCartItemButtonClicked(cartItem)">
            <mat-icon>remove_shopping_cart</mat-icon>
            Remove
        </button>
    </div>
</div>
