<form #f="ngForm">

    <mat-card-title><h3>Credit Request #{{ model.id }}</h3></mat-card-title>
    <div class="grid">
        <div class="left">
            <mat-card-content>
                <div>Submitted on {{ model.createdAt | date }}</div>
            </mat-card-content>
            <mat-card-content>
                <div>By {{ model.user.name }} ({{ model.user.email }})</div>
            </mat-card-content>
        </div>
        <div class="right align-right">
            <div class="smaller-font">Request status</div>
            <span><b>{{ model.status }}</b></span>
        </div>
    </div>

    <div class="grid">
        <div class="left">
            <mat-form-field>
                <mat-label>Product</mat-label>
                <mat-select name="jewelryName" [(ngModel)]="model.jewelryName" [value]="model.jewelryName"
                            (selectionChange)="onORProductSelected($event)" required>
                    <mat-option *ngFor="let orProduct of orProducts" [value]="orProduct.name" [disabled]="disabled">
                        {{ orProduct.name | titlecase }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="properties !== undefined && properties.length > 1">
                <mat-label>Property</mat-label>
                <mat-select name="selectedProperty" [(ngModel)]="model.selectedProperty"
                            value="{{ model.selectedProperty }}">
                    <mat-option *ngFor="let property of properties" [value]="property.value" [disabled]="disabled">
                        {{ property.value }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="right align-right">
            <p>
                <mat-label>Customer reported jewelry conditions</mat-label>
            </p>
            <table>
                <tr>
                    <th>Property</th>
                    <th>State</th>
                </tr>
                <tr>
                    <td>Scratches</td>
                    <mat-checkbox [(ngModel)]="model.jewelryCondition.scratched" name="scratched" color="primary"></mat-checkbox>
                </tr>
                <tr>
                    <td>Bent</td>
                    <mat-checkbox [(ngModel)]="model.jewelryCondition.bent" name="bent" color="primary"></mat-checkbox>
                </tr>
                <tr>
                    <td>Broken</td>
                    <mat-checkbox [(ngModel)]="model.jewelryCondition.broken" name="broken" color="primary"></mat-checkbox>
                </tr>
                <tr>
                    <td>Missing piece</td>
                    <mat-checkbox [(ngModel)]="model.jewelryCondition.missingPiece" name="missingPiece" color="primary"></mat-checkbox>
                </tr>
            </table>
        </div>
    </div>

    <div class="grid">
        <div class="left">
            <div class="gallery">
                <app-image-gallery [imageURLs]="displayedImages"></app-image-gallery>
            </div>
        </div>
        <div class="right">
            <mat-label>Notes from customer</mat-label>
            <div class="notesFromCustomer">
                <mat-card-content><p>{{ model.additionalNotes }}</p></mat-card-content>
            </div>
            <mat-label [hidden]="disabled">Message to customer</mat-label>
            <textarea cols="30" rows="10" name="messageToCustomer" [(ngModel)]="model.messageToCustomer" [hidden]="disabled"></textarea>
        </div>
    </div>

    <div class="custom-inputs" *ngIf="!disabled">
        <mat-accordion class="storyAcc">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Story information
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <label>Story Title</label>
                <mat-form-field>
                    <input matInput name="storyTitle" [(ngModel)]="model.storyTitle">
                </mat-form-field>
                <label>Story Content</label>
                <mat-form-field>
                    <textarea matInput cols="30" rows="10" name="storyContent" [(ngModel)]="model.storyContent">{{ model.storyContent }}</textarea>
                </mat-form-field>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <div class="indicationWrapper">
        <mat-form-field class="indicationFormfield">
            <label for="creditIndication">Estimated maximum credit €</label>
            <input matInput id="creditIndication" name="creditIndication" [(ngModel)]="model.estimatedCredit" required
                   type="number" [disabled]="disabled">
        </mat-form-field>
    </div>

    <div class="indicationWrapper" *ngIf="model.status === 'Approved for shipping'">
        <mat-form-field class="indicationFormfield">
            <label for="finalCredit">Final credit sent to customer €</label>
            <input matInput id="finalCredit" name="finalCredit" [(ngModel)]="model.finalCredit" required type="number" [disabled]="disabled">
        </mat-form-field>
    </div>

    <div class="buttonWrapper">
        <div class="buttonLeft">
            <button mat-button (click)="back()">Back</button>
        </div>
        <div class="buttonRight" *ngIf="model.status !== 'Complete'">
            <button mat-button (click)="recalculate()" [disabled]="disabled">Recalculate</button>
            <button mat-button color="warn" (click)="onDeny()" [disabled]="disabled">Cancel request</button>
            <button mat-button color="primary" class="confirmButton" (click)="onSubmit()" [disabled]="disabled">{{ buttonText }}</button>
        </div>
    </div>
</form>
