.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left, .right {
    padding-bottom: 30px;
}

mat-form-field {
    display: block;
}

.gallery {
    width: 400px;
}

.notesFromCustomer {
    margin-bottom: 20px;
}

/*

.story-list {
  border: 1px #303030 solid;
  height: 100%;
}
*/

.creditIndication {
    &::before {
        content: '€';
    }
}
.indicationFormfield {
    max-width: 200px;
    margin: 0 auto;
}
.indicationWrapper {
    position: relative;
}

.buttonWrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

button {
    //background-color: #ccc;
}

.buttonLeft {
    text-align: left;
}

.buttonRight {
    text-align: right;
    button {
        margin-left: 10px;
    }
}

textarea {
    width: 100%;
    resize: vertical;
}


.storyAcc {
    display: block;
    margin-bottom: 20px;
}

.confirmButton {
    color: white;
    background-color: #2749b6;
}
.addToProductsSection {
    position: absolute;
    right: 10px;
    bottom: 25px;
}
.addToProductsLabel, #addToProducts {
    display: inline-block;
}
.addToProductsLabel{
    margin-left: 10px;
}
#addToProducts {
    margin-left: 5px;
}
