<div class="grid">
    <div>
        <div class="gallery">
            <app-image-gallery [imageURLs]="displayedImages"></app-image-gallery>
        </div>

        <!--Uncomment this block when story-list are implemented-->
        <div class="story-wrapper" *ngIf="product.story?.storyTitle !== null && product.story?.storyContent !== null">
            <mat-label><h3>The unique story of this piece</h3></mat-label>
            <mat-card-content>
                <p class="story-title">{{ product.story?.storyTitle}}</p>
                <p class="story-content">{{ product.story?.storyContent}}</p>
                <p class="story-author" *ngIf="product.story?.author !== null"><i> - {{ product.story?.author}}</i></p>

            </mat-card-content>
        </div>

    </div>

    <div>
        <div class="product-info">
            <mat-card-title><h2>{{ product.name }}</h2></mat-card-title>
            <mat-card-subtitle>
                <div class="product-rating">
                    <p>Condition
                        <star-rating [readOnly]="true" starType="icon" staticColor="negative"
                                     [rating]="product.rating.id"></star-rating>
                    </p>
                </div>

                <h4>€ {{ product.price }}</h4>
            </mat-card-subtitle>
            <mat-card-content>
                <p>{{ product.description }}</p>
            </mat-card-content>
        </div>
        <button mat-button (click)="onAddToShoppingCartButtonClicked()"
                class="add-to-cart mat-elevation-z3 full-width">Add to shopping cart
        </button>
    </div>
</div>
