<button class="mat-raised-button" routerLink="/shop">Back</button>

<div class="grid">
    <div class="left-wrapper">
        <div class="product-images">
            <img [src]="product.images[0].url" alt="">
        </div>
        <br/>
        <br/>
        <mat-label><h3>The unique story of this piece</h3></mat-label>
        <div class="storyWrapper">
            <mat-card-content>
                <p><b>Story title</b></p>
                <p><i>Story author</i></p>
                <hr>
                <p>
                    I've had this piece for two years now. I worn it during my honeymoon to Venice. After my honeymoon it
                    just stayed in my jewelry box.
                    I hope I can make someone else happy with this amazing piece!
                </p>
            </mat-card-content>
        </div>
    </div>

    <div class="right-wrapper">
        <div class="product-info">
            <mat-card-title><h2>{{ product.name }}</h2></mat-card-title>
            <mat-card-subtitle>
                <p>Rating: {{ product.rating.name }} stars</p>
                <h4>€ {{ product.price }}</h4>
            </mat-card-subtitle>
            <br/>
            <mat-card-content>
                <p>{{ product.description }}</p>
            </mat-card-content>
        </div>
        <br/>
        <br/>
        <button mat-button color="primary" (click)="onAddToShoppingCartButtonClicked()" class="mat-raised-button full-width">Add to shopping cart</button>
        <br/>
        <br/>
        <br/>
        <div class="same-model-wrapper">
            <mat-label><h3>Same model, different story</h3></mat-label>
            <hr>
            <div class="imageDiv" *ngFor="let image of product.images">
                <img [src]="image.url" alt="">
            </div>
        </div>
    </div>
</div>
