.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding-bottom: 50px;
}

.story-wrapper {
    margin-bottom: 20px;
    width: 100%;
    max-width: 350px;


    p {
        margin: 8px 4px;
    }
    .story-title {
        font-weight: bold;
    }
    .story-content {

    }
    .story-author {
        text-align: center;
        font-style: italic;
    }
}

.gallery {
    width: 100%;
    max-width: 400px;
}

.right {

}

.button-wrapper {
    text-align: right;
}
.add-to-cart {
    background-color: #5e646b;
    color: white;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
    max-width: 200px;
}

@media (max-width: 500px) {
    .grid {
        grid-template-columns: 1fr;
    }
}
