<div class="grid">
    <div class="left">
        <img [src]="product.images[0].url" alt="">
    </div>
    <div class="right">
        <mat-card-title><h2>{{ product.name }}</h2></mat-card-title>
        <mat-card-content>
            <p>Condition: {{ product.condition.name }}</p>
            <h4>€ {{ product.price }}</h4>
        </mat-card-content>
        <hr>
        <mat-label><h3>The unique story of this piece</h3></mat-label>
        <div class="storyWrapper">
            <mat-card-content>
                <p><b>Story title</b></p>
                <p><i>Story author</i></p>
                <hr>
                <p>I've had this piece for two years now. I worn it during my honeymoon to Venice. After my honeymoon it just stayed in my jewelry box.
                    I hope I can  make someone else happy with this amazing piece!</p>
            </mat-card-content>
        </div>
    </div>
</div>
<div class="grid">
    <div class="left">
        <mat-label><h3>Same model, different story</h3></mat-label>
        <hr>
        <div class="imageDiv" *ngFor="let image of product.images">
            <img [src]="image.url" alt="">
        </div>
    </div>
    <div class="right">
        <div class="buttonWrapper">
            <button class="mat-raised-button" routerLink="/shop">Back</button>
            <button class="mat-raised-button">Order</button>
        </div>
    </div>
</div>
