.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10%;
}

.storyWrapper {
    border: 1px rgba(0, 0, 0, 0.42) solid;
    margin-bottom: 20px;

    p {
        margin: 8px 4px;
    }
}

.gallery {
    width: 400px;
}

.right {
}

