.top-controls {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
}

mat-row:hover {
    background-color: #ccc;
    cursor: pointer;
}
// mat-header-row mat-header-cell:nth-child(1) {
//     flex: none;
//     width: 20%;
// }
// mat-row mat-cell:nth-child(1) {
//     flex: none;
//     width: 20%;
// }
@media (max-width: 800px) {
    .wrapper {
        box-shadow: none !important;
    }

    mat-header-row {
        display: none;
    }

    mat-paginator {
        margin-top: 10px;
    }

    mat-row {
        display: block;
        overflow: hidden;
        margin-top: 15px;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);

        &::after {
            display: none !important;
        }
    }
    
    mat-header-cell {
        width: unset !important;
    }
    mat-cell {
        width: unset !important;
        min-height: 0;
        display: block;
        padding-left: 5px !important;
        padding-right: 5px !important;
        padding-top: 5px;
        padding-bottom: 5px;

        &::before {
            width: 30%;
            display: inline-block;
            content: attr(data-header);
        }
    }
}