<h3>What type of Ocean Republic jewelry do you want to trade in?</h3>

<div class="grid">
    <button mat-button class="bottom type type-bracelet" style="--aspect-ratio: 1/1;" (click)="onTypeClicked('Bracelet')">
        <span class="name">Bracelet</span>
    </button>
    <button mat-button class="bottom type type-earrings" style="--aspect-ratio: 1/1;" (click)="onTypeClicked('Earrings')">
        <span class="name">Earrings</span>
    </button>
    <button mat-button class="bottom type type-necklace" style="--aspect-ratio: 1/1;" (click)="onTypeClicked('Necklace')">
        <span class="name">Necklace</span>
    </button>
    <button mat-button class="bottom type type-ring" style="--aspect-ratio: 1/1;" (click)="onTypeClicked('Ring')" [routerLink]="['../material']">
        <span class="name">Ring</span>
    </button>
</div>