.top-controls {
    display: grid;
    grid-template-columns: 1fr;
}
mat-table {
    border-radius: 5px;
    overflow: hidden;
}

mat-table.hoverable mat-row:hover {
    background-color: #ccc;
    cursor: pointer;
}
mat-row {
    border-left: 10px solid;
}
// mat-header-row mat-header-cell:nth-child(1) {
//     flex: none;
//     width: 20%;
// }
// mat-row mat-cell:nth-child(1) {
//     flex: none;
//     width: 20%;
// }
.no-items {
    text-align: center;
}

mat-header-row {
    border-bottom-width: 0px !important;
    background-color: #f5f5f5;
}

mat-row {
    border-bottom-width: 0px !important;
    &:nth-child(odd) {
        background-color: #f5f5f5;
    }
}
@media (max-width: 800px) {
    .wrapper {
        box-shadow: none !important;
    }

    mat-table {
        border-radius: 0px;
        overflow: initial;
    }

    mat-header-row {
        display: none;
    }

    mat-paginator {
        margin-top: 10px;
    }

    mat-row {
        display: block;
        overflow: hidden;
        margin-top: 15px;
        //box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        background-color: #f5f5f5;
        border-bottom: none;
        border-bottom-width: 0px !important;



        &::after {
            display: none !important;
        }
    }
    
    mat-header-cell {
        width: unset !important;
    }
    mat-cell {
        width: unset !important;
        min-height: 0;
        display: block;
        padding-left: 5px !important;
        padding-right: 5px !important;
        padding-top: 5px;
        padding-bottom: 5px;

        &::before {
            width: 30%;
            display: inline-block;
            content: attr(data-header);
        }
    }
}
