<div class="control-buttons">
    <div class="left">
        <button mat-button class="mat-elevation-z3" (click)="onResetClicked()">Reset</button>   
    </div>
    <div class="right">
        <button *ngIf="customButton.length > 0" mat-button class="mat-elevation-z3" (click)="onCustomClicked()">{{ customButton }}</button>
        <button mat-button class="mat-elevation-z3" (click)="onBackClicked()">&lt; Last Step</button>
        <button mat-button class="main mat-elevation-z3"  (click)="onNextClicked()">Next Step &gt;</button>
    </div>
</div>