<div class="control-buttons">
    <div class="left">
        <button mat-button class="mat-elevation-z3" (click)="onResetButtonClicked()">Reset</button>
    </div>
    <div class="right">
        <button *ngIf="customButtonText.length > 0" mat-button class="mat-elevation-z3" (click)="onCustomButtonClicked()">{{ customButtonText }}</button>
        <button mat-button class="mat-elevation-z3" (click)="onBackButtonClicked()">&lt; Go back</button>
        <button mat-button class="main mat-elevation-z3"  (click)="onNextButtonClicked()">Next step &gt;</button>
    </div>
</div>
