$color: #2749b6;

.control-buttons {
    width: 100%;
    // position: absolute;
    left: 0px;
    bottom: 0;
    padding: 30px 0px;

    button {
        letter-spacing: 1px;
        font-size: 16px;
        font-weight: bold;
        padding: 4px 15px;
        &.main {
            background-color: $color;
            color: white;
        }
    }
    .left {
        display: inline-block;
        width: 50%;
        button {
            margin-right: 10px;
        }
    }
    .right {
        display: inline-block;
        width: 50%;
        text-align: right;

        button {
            margin-left: 10px;
        }
    }
}
