<div class="container">
    <h1>Thank you for reviving Ocean Republic pieces!</h1>
    <p>
        We will check if all the details are in order. Once they are, you will receive <br>
        an e-mail with an updated credit indication and instructions on how to ship your piece to us. <br>
        This could take up to 24 hours.
    </p>

    <br>

    <p>
        In the meantime, consider sharing your more stories about your jewelry collection, <br>
        or look at other jewelry in the ReviveOR shop.
    </p>

    <br>

    <div class="buttons">
        <button mat-button class="mat-elevation-z3" routerLink="/stories">
            Share a story
        </button>

        <button mat-button class="mat-elevation-z3" routerLink="/shop">
            View ReviveOR shop
        </button>
    </div>

</div>

