<form (ngSubmit)="onSubmit()" class="mat-elevation-z3" #form="ngForm">
    <h1>Login</h1>
    <div *ngIf="showWarning">
        <p>{{warning}}</p>
    </div>
    <mat-form-field>
        <input matInput type="text" placeholder="E-mail address" [(ngModel)]="email" name="email">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password">
    </mat-form-field>
    <div class="button-wrapper">
        <button mat-raised-button color="primary" class="mat-elevation-z3">Log In</button>
    </div>
    <a href="https://theoceanrepublic.com/password/remind" title="forgotten password?">Forgotten password?</a> <br>
    <a routerLink="/" title="forgotten password?">Dont have an account?</a>
</form>
