mat-toolbar {
  font-size: initial;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  &.nav-toolbar {
    .brand {
      text-decoration: none;
      font-size: 22px;
      font-weight: 600;
    }

    .links a {
      text-transform: uppercase;
      font-weight: bold;
    }

    .shopping_cart {
      display: block;
      /*      margin-right: 20px;*/
    }

    .account {
      display: block;

      button {
        width: 100%;
      }
    }
  }
}

.spacer {
  flex: 1 1 auto;
}

.header-gap {
  height: 20px;
  background-size: contain;
}

@media only screen and (max-width: 600px) {

  header {
    margin-top: 30px;
  }

  .mat-toolbar > * {
    width: 100% !important;
    display: block;
    text-align: center;
    margin-bottom: 5px;
  }

  button {
    width: 100%;
  }

  .nav-toolbar {
    height: auto !important;
  }

  .header-gap {
    height: 0px;
  }

  ::ng-deep .mat-menu-panel {
    max-width: none !important;
    min-width: 180px !important;
  }
}
