<nav>
  <ul>
    <li><a routerLink="/">Home (image)</a></li>
    <li><a routerLink="/shop">Shop</a></li>
    <li><a routerLink="/trade-in">Trade-in</a></li>
    <li><a routerLink="/story">Story</a></li>
    <li><a routerLink="/account">Account</a></li>
    <li><a routerLink="/admin">Admin panel</a></li>
  </ul>
</nav>


<header>

  <mat-toolbar class="nav-toolbar">

    <a class="brand" routerLink="/" mat-button>
      <mat-icon svgIcon="logo" style="height: 40px; width: 40px;"></mat-icon>
      Salmon IT
    </a>
    <div class="spacer"></div>

    <a routerLink="/shop/cart" class="shopping_cart" mat-button>
      <mat-icon [matBadgeHidden]="cartItemsCount == 0" matBadgeColor="primary" [matBadge]="cartItemsCount"
                matBadgePosition="above after">
        shopping_cart
      </mat-icon>
    </a>

    <div class="account">
      <mat-menu #accountMenu="matMenu" class="account-dropdown">
        <ng-container *ngIf="authService.isAuthenticated(); then loggedIn; else loggedOut"></ng-container>

        <ng-template #loggedIn>
          <button mat-menu-item [routerLink]="['/me', 'edit']">Account info</button>
          <button mat-menu-item [routerLink]="['/admin']" *ngIf="true">Admin dashboard</button>
          <button mat-menu-item [routerLink]="['/logout']">Logout</button>
        </ng-template>

        <ng-template #loggedOut>
          <button mat-menu-item [routerLink]="['/login']">Login</button>
          <button mat-menu-item [routerLink]="['/register']">Register</button>
        </ng-template>

      </mat-menu>

      <button mat-button [matMenuTriggerFor]="accountMenu">
        <mat-icon>account_circle</mat-icon>
        {{ authService.getAuthenticatedUser()?.firstName !== null ?
        authService.getAuthenticatedUser().firstName + "'s" : 'Mijn' }} account
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
    </div>
  </mat-toolbar>


  <mat-toolbar class="search-toolbar">



    <div class="browseall-button">
      <button class="" type="button" mat-stroked-button color="primary"
              (click)="onSearchButtonClicked('')">Bekijk volledig assortiment</button>
    </div>

    <div hidden class="product-categories">
      <mat-menu #productMenu="matMenu">
        <a mat-menu-item routerLink="category/laptops">Laptops</a>
        <a mat-menu-item>Desktops</a>
        <a mat-menu-item [matMenuTriggerFor]="componentsMenu">Componenten</a>
      </mat-menu>

      <mat-menu #componentsMenu="matMenu">
        <button mat-menu-item>Behuizingen</button>
        <button mat-menu-item>RAM Geheugen</button>
        <button mat-menu-item>Harde schijven/SSDs</button>
        <button mat-menu-item>Processoren</button>
        <button mat-menu-item>Videokaarten</button>
        <button mat-menu-item>Voedingen</button>
      </mat-menu>


      <button mat-button [matMenuTriggerFor]="productMenu">
        <mat-icon>apps</mat-icon>
        Productcategorieën
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
    </div>


    <div class="search-container">
      <mat-form-field class="search-bar no-padding" appearance="outline">
        <mat-label>Zoek hier op productnaam of beschrijving...</mat-label>
        <button type="button" class="search-button" matSuffix mat-button color="primary"
                (click)="onSearchButtonClicked(search.value)">
          <mat-icon [inline]="true" class="search-icon" aria-label="Zoeken">search</mat-icon>
        </button>
        <input matInput type="search" #search
               (keydown.enter)="onSearchButtonClicked(search.value)" placeholder="Waar bent u naar op zoek?" aria-label="Zoeken">
      </mat-form-field>
    </div>
  </mat-toolbar>


  <div class="header-gap bg mat-elevation-z8"></div>

</header>
