
ngx-gallery /deep/ .ngx-gallery-icon {
    //color: #3461ff;
    color: #dce9ff;
}

ngx-gallery /deep/ .fa-times {
    color: #111;
}

ngx-gallery /deep/ .ngx-gallery-arrow {
    /*color: #008aff;*/
    color: #111;
}

/*
ngx-gallery /deep/ .ngx-gallery-thumbnail {
    border: 1px solid #2749b6;
}
*/
