<div class="control-wrapper">

    <div class="filename">
        {{file.name}} ({{file.size | bytes}})
    </div>

    <section class="progress-bar">
        <mat-progress-bar [value]="progressPercentage" [color]="hasErrors ? 'warn' : 'primary'"></mat-progress-bar>
        <a mat-button (click)="cancelUpload()">
            <mat-icon *ngIf="isUploading">cancel</mat-icon>
        </a>
    </section>

    <div class="upload-details">
        <span>{{progressPercentage}}%</span> |
        <span> {{uploadedBytes | bytes}} of {{totalBytes | bytes}}</span>
    </div>
    
</div>
