.progress-bar {
    height: 15px;
    overflow: hidden;
    border-radius: 20px;

    > * {
        height: 100%;
    }
}

.control-wrapper {
    padding: 10px;
}

.upload-details {
    margin-top: 5px;
}
.filename {
    margin-bottom: 3px;
}