$color: #2749b6;

footer {
    position: relative;
    width: 100%;
    background-color: $color;
    height: 200px;
    color: white;
    text-align: center;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.3);

    .content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 20px 0px;
    }

}

.back-to-or {
    color: white;
    font-weight: bold;
    display: block;
    line-height: 75px;
    text-decoration: none;
    font-size: 26px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

@media(max-width: 800px) {
    footer {
        grid-template-columns: 1fr;
    }
}