<footer>
    <div class="footer-inner">
        <div class="left">
            <p class="copyright">
                Copyright &copy; The Ocean Republic
            </p>
        </div>
        <div class="center">
            <div class="or-logo-wrapper">
                <div class="or-logo">

                </div>
            </div>
        </div>
        <div class="right">

            <div class="social-links">
                <h3>Follow us on:</h3>
                <a target="_blank" class="facebook" href="https://www.facebook.com/theoceanrepublic"></a>
                <a target="_blank" class="instagram" href="https://instagram.com/oceanrepublic/"></a>
                <a target="_blank" class="tumblr" href="http://theoceanrepublic.tumblr.com/"></a>
                <a target="_blank" class="pinterest" href="https://www.pinterest.com/oceanrepublic/"></a>
                <a target="_blank" class="twitter" href="https://twitter.com/theoceanrep"></a>
            </div>
        </div>
    </div>

    <a href="https://theoceanrepublic.com/" class="back-to-or">Back to The Ocean Republic</a>
</footer>
