/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Caslon;
    src: url(assets/adobe-caslon-semibold.otf);
}

@font-face {
    font-family: Neuzeit;
    src: url(assets/neuzeit-grotesk-regular.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Neuzeit, sans-serif;
}
html, body {
  height: 100%;
}
table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-button.top .mat-button-wrapper>* {
    vertical-align: top !important;
}
.mat-button.bottom .mat-button-wrapper>* {
    vertical-align: bottom !important;
}
.mat-button-wrapper {
    pointer-events: none;
}
.indication-spinner.mat-progress-spinner circle {
    transition: stroke-dashoffset 1500ms ease-in-out !important;
}
