// star rating somponent
@import '~css-star-rating/scss/star-rating';

/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Caslon;
    src: url(assets/adobe-caslon-semibold.otf);
}

@font-face {
    font-family: Neuzeit;
    src: url(assets/neuzeit-grotesk-regular.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Neuzeit, sans-serif;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
}
table {
    width: 100%;
    border-spacing: 0;
    &.table-border {
        border: 1px solid gray;
    }
}

p {
    margin: 16px 0;
}

.rating {
    display: flex;
    justify-content: left;
}

.mat-sidenav-container, .mat-sidenav-content, .mat-tab-body-content {
    transform: none !important;
}


.ng5-slider  {
    .ng5-slider-selection, .ng5-slider-pointer, .ng5-slider-active:focus + .ng5-slider-active:after {
        background-color: #303030 !important;
    }
}


.cdk-overlay-container {
    z-index: 10000;
}

.custom-inputs input, .custom-inputs textarea, .custom-mat-input input.mat-input-element {
    display: block;
    width: 100%;
    padding: .375rem .75rem!important;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    &:focus {

        color: #495057;
        background-color: #fff;
        border-color: #2749b6;
        outline: 0;
        box-shadow: 0 0 0 .2rem rgba(39,73,182, 0.40);

    }
}

.custom-inputs {
    .mat-form-field-label-wrapper {
        display: none !important;
    }
    .mat-form-field-underline {
        display: none !important;
    }
}


.full-width {
    width: 100%;
}

.smaller-font {
    font-size: 14px;
}

.mat-form-field {
    font-size: 14px;
    color: #111;
    width:100%;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.product-rating {
    .rating {
        display: inline-block;
        margin: 0px;
        vertical-align: bottom;
    }
}

.shopping-cart-alignment-wrapper {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr;
    grid-gap: 10%;
}

.mat-progress-spinner.disabled circle, .mat-spinner.disabled circle {
    stroke: #ccc !important;
}

.mat-progress-bar .mat-progress-bar-fill {
    transition-duration: 100ms!important;
}


.mat-button.top .mat-button-wrapper>* {
    vertical-align: top !important;
}
.mat-button.bottom .mat-button-wrapper>* {
    vertical-align: bottom !important;
}
.mat-button-wrapper {
    pointer-events: none;
}
.indication-spinner.mat-progress-spinner circle {
    transition: stroke-dashoffset 1500ms ease-in-out !important;
}
.mat-icon {
    vertical-align: bottom;
}

.queue-wrapper {
    box-shadow: none !important;
    margin: 0 !important;
    padding: 0 !important;
}
.trade-in-grid  {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;

    > * {
        position: relative;
    }

    > .keep-aspect::before {
        content: "";
        display: inline-block;
        width: 0px;
        height: 0;
        padding-bottom: calc(100% / (var(--aspect-ratio)));
    }
}
star-rating .rating.color-negative .star-container .star i {
    color: #2749b6 !important;
}

@media (max-width: 1000px) {
    .trade-in-grid {
        grid-template-columns: 1fr 1fr 1fr !important;
    }
}
@media (max-width: 800px) {
    .trade-in-grid {
        grid-gap: 10px !important;
        grid-template-columns: 1fr 1fr !important;
    }
}
