<div class="wrapper">
    <ul>
        <li><button mat-button routerLink="trade-in" routerLinkActive="active">Trade-in requests</button></li>
        <li><button mat-button routerLink="credit-indications" routerLinkActive="active">Credit indications</button></li>
        <li><button mat-button routerLink="products" routerLinkActive="active">Products</button></li>
        <li><button mat-button routerLink="stories" routerLinkActive="active">Stories</button></li>
        <li><button mat-button routerLink="permissions" routerLinkActive="active">Permissions</button></li>
    </ul>
</div>
