h3 {
    margin: 10px 0px;
}
.grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    max-height: 500px;
    overflow-y: scroll;
}
.grid > * {
    --aspect-ratio: 1/1;
    position: relative;
}
.grid > .keep-aspect::after {
    content: "";
    display: inline-block;
    width: 0px;
    height: 0;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
}
