.control-buttons {
    width: calc(100% - 32px);
    position: absolute;
    bottom: 16px;
    overflow-y: auto;
    button {
        font-weight: bold;
    }
    .left {
        display: inline-block;
        width: 50%;
    }
    .right {
        display: inline-block;
        width: 50%;
        text-align: right;
    }
}